@mixin screenSize($breakpoint) {
  @if($breakpoint == notsmall) {
      @media only screen and (min-width: 900px) { @content }
  }
  @if($breakpoint == small) {
      @media only screen and (min-device-width: 320px) and (max-device-width: 900px) { @content }
  }
}
