@import "mixins";

$statusBarBgColor: #484649;
$statusBarFontColor: #EFEFF0;
$bgColor: #000914;
$statusBarInactive: #93B7BE;

$normalFontFamily: 'Roboto', sans-serif;
$emFontFamily: 'Manuale', serif;

$buttonHighlightColor: #1f5673;
$buttonBgColor: #759fbc;

$almostWhiteColor: #EDEDED;

body{
  margin:0;
  padding:0;
}
button{
    font-size: 2.5em;
    border: 2px solid $buttonHighlightColor;
    background-color: $buttonBgColor;
    border-radius:8px;
    color: $statusBarFontColor;
    font-family: $normalFontFamily;
}

.gameView {
    display: grid;
    grid-gap:0px;
    width:100%;
    min-height:calc(100vh);
    max-height:calc(100vh);
    font-family: $emFontFamily;
    grid-template-columns: repeat(5, calc(100vw /5));
    grid-template-rows: repeat(12, calc(100vh/12));
    background-color:$bgColor;
    .topStatus { 
        background-color: $statusBarBgColor;
        grid-row: 1;
        grid-column:  1/6;
        color: $statusBarFontColor;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 100%;
        display: grid;
        font-family: $normalFontFamily; 
        div {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 20% 60% 20%;
            p {
                font-size: 1.2em;
                margin:0;
                padding:0;
            }
        }
        h1 {
            font-size: 3em;
            margin: auto 0 auto 0;
            padding:0;
        }
        .--inactive {
            color: $statusBarInactive;
        }
        .--active {
            text-shadow: 4px 4px 4px black;
        }

        .__locationStatus {
            grid-column: 2;
            grid-row: 1;
            text-align: center;
        }
        .__cashInfo {
            grid-row: 1;
            grid-column: 3;
            text-align: center;
        }
        .__playerInfo {
            grid-row:1;
            grid-column: 1;
            h1 {
                text-align:center;
            }
            span { text-align:center;}
        }
        .__playerName{ 
            text-align:left;
            display:block;
            position:absolute;
            left:0;
            font-size:1.5em;
            font-family: 'Manuale', serif;
            color: $statusBarInactive;
            top:0;
            em {
                color: $almostWhiteColor;
            }
        }
    }
    .gameMain { 
        display: grid;
        grid-template-columns: repeat(5, calc(100vw /5));
        grid-template-rows: repeat(9, calc(100vh/12));
        grid-row: 2 / 11;
        grid-column: 1 / 6;
        color: $statusBarFontColor;
    }
    .homeworld {
        color: $almostWhiteColor;
    }
    .starPort{
        color: $almostWhiteColor;
        font-size: 1.5em;
        .starPort__market--fuel, .starPort__market--metal{
            display:flex;
            strong {
                font-size: 1.5em;
            }
        }

    }
    .starSystem {
        .__starTitle {
            grid-row: 1;
            grid-column: 1/6;
            font-family: $emFontFamily;
            text-align:center;
            font-style:italic;
            font-size: 3em;
            margin: auto 0 auto 0;
        }
        .__mapContainer {
            border: 1px solid $almostWhiteColor;
            grid-row: 2/6;
            grid-column: 2/5;
            #uniMap {
                border: 1px solid $almostWhiteColor;
                width:calc(100% - 2px);
                height:calc(100% - 4px);
            }
        }
        .__starLinks { 
            grid-row:6;
            grid-column: 1/6;
            display: grid;
            grid-template-columns: repeat(6, auto);
            grid-template-rows: 30% 70%;
            h2 {
                text-align: center;
                grid-row: 1;
                grid-column: 1/7;
                margin:0;
                padding:0;
            }
            ul {
                grid-row: 2;
                grid-column: 1/7;
                display: inline;
                margin: 0;
                padding: 0;
                list-style: none;
                text-align:center;
                li{
                    display: inline-block;
                    width: calc(100vw/6);
                    height: 100%;
                    button {
                        height: calc(100% - 30px);
                        width: calc(100vw/9);
                    }
                }
            }

        }
        .__starResources {
            grid-row:2/6;
            grid-column: 1;
            ul {
                list-style: none;
                text-align: center;
                margin:0;
                padding:0;
                li {
                    margin:0;
                    padding:0;
                    h1 { 
                        margin:0;
                    }
                }
            }
        }
        .__starPlanets {
            grid-row:2/6;
            grid-column: 5;
            ul {
                list-style: none;
                text-align: center;
                margin:0;
                padding:0;
                li {
                    margin:0;
                    padding:0;
                    h1, h2 { 
                        margin:0;
                    }
                }
            }
        }
        .__yourShips {
            grid-row: 8/10;
            grid-column: 1/3;
        }
        .__otherShips {
            grid-row: 8/10;
            grid-column: 4/6;
        }


    }
    .bottomStatus {
        grid-row: 11 / 13;
        grid-column: 1/6;
        background-color: $statusBarBgColor;
        font-family: $normalFontFamily; 
        color: $statusBarFontColor;
        .cmdShip {
            width: calc(100vw);
            height: calc(2*100vh/12);
            display: grid;
            grid-template-columns: repeat(5, calc(100vw /5));
            grid-template-rows: repeat(2, calc(100vh/12));
            .cmdShip__name {
                grid-row: 1;
                grid-column: 1/4;
                display: grid;
                grid-template-columns: calc(1.5 * 100vw/5) calc(1.5 * 100vw/5);
                grid-template-rows: calc(100vh/36) calc(100vh/24);
                h1, h2 { margin: 0; padding: 0; }
                .name__nameHeader {
                    grid-row: 1;
                    grid-column: 1;
                }
                .name__name {
                    grid-row: 2;
                    grid-column: 1;
                }
                .name__classHeader {
                    grid-row: 1;
                    grid-column: 2;
                }
                .name__class {
                    grid-row: 2;
                    grid-column: 2;
                }

            }
            .cmdShip__tactical {
                grid-row: 1;
                grid-column: 4/6;
                display: grid;
                grid-template-columns: calc(2 * 100vw/5);
                grid-template-rows: calc(100vh/36) calc(100vh/24);
                h2{
                    padding:0;
                    margin:0;
                    grid-row:1;
                    grid-column:1;
                    text-align:center;
                }
                ul {
                    grid-row:2;
                    grid-column:1;
                    display: grid;
                    grid-template-columns: repeat(2, calc(100vw/5));
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                        text-align:center;
                        h1, h2 { padding:0; margin:0;}

                    }
                }

            }
            .cmdShip__cargo {
                grid-row: 2;
                grid-column: 1/6;
                display: grid;
                grid-template-rows: calc(100vh/36) calc(100vh/24);
                h2 { padding:0; margin: 0; grid-row: 1; grid-column: 1; text-align: center;}
               ul {
                   grid-row:2;
                   grid-column:1;
                   display: grid;
                   grid-template-columns: repeat(5, calc(100vw/5));
                   margin:0;
                   padding: 0 ;
                   list-style:none;
                   li {
                       text-align: center;
                       h1, h2 { padding:0; margin:0;}
                   }
               } 
            }

        }
        
    }
}

